<% provide :title, @taxon.name %>

<%= render 'layouts/page_header', { name: @taxon.name, origin_page: "categories" } %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'product_category', taxonomies: @taxonomies %>
        <%= render 'search_by_color' %>
        <%= render 'search_by_size' %>
      </div>
      <%= render 'products', products: @products %>
    </div>
  </div>
</section>
<%= render 'layouts/partner_logo' %>